<launch>

  <arg name="robot_name"                  default=""/>
  <arg name="use_gazebo"                  default="false"/>
  <arg name="use_actual"                  default="false"/>
  <arg name="arm_operating_mode"          default="position"/>
  <arg name="dof"                         default="5"/>
  <arg name="moveit_interface_gui"        default="true"/>

  <include file="$(find interbotix_moveit)/launch/interbotix_moveit.launch">
    <arg name="robot_name"                value="$(arg robot_name)"/>
    <arg name="use_gazebo"                value="$(arg use_gazebo)"/>
    <arg name="use_actual"                value="$(arg use_actual)"/>
    <arg name="dof"                       value="$(arg dof)"/>
    <arg name="arm_operating_mode"        value="$(arg arm_operating_mode)"/>
  </include>

  <node
    name="moveit_interface_node"
    pkg="interbotix_moveit_interface"
    type="moveit_interface_node"
    respawn="false"
    output="screen"
    ns="$(arg robot_name)"/>

  <node if="$(arg moveit_interface_gui)"
    name="moveit_interface_gui"
    pkg="interbotix_moveit_interface"
    type="moveit_interface_gui"
    output="screen"
    ns="$(arg robot_name)"/>

</launch>
