<launch>

  <arg name="robot_name"                  default=""/>
  <arg name="arm_operating_mode"          default="position"/>
  <arg name="arm_profile_velocity"        default="131"/>
  <arg name="arm_profile_acceleration"    default="15"/>
  <arg name="use_pid_cntlrs"              default="false"/>
  <arg name="use_gazebo"                  default="false"/>
  <arg name="use_actual"                  default="false"/>
  <arg name="use_fake"                    default="false"/>
  <arg name="dof"                         default="5"/>
  <arg name="use_cpp_interface"           default="false"/>
  <arg name="moveit_interface_gui"        default="true"/>
  <arg name="use_python_interface"        default="false"/>

  <include file="$(find interbotix_moveit)/launch/interbotix_moveit.launch">
    <arg name="robot_name"                value="$(arg robot_name)"/>
    <arg name="arm_operating_mode"        value="$(arg arm_operating_mode)"/>
    <arg name="arm_profile_velocity"      value="$(arg arm_profile_velocity)"/>
    <arg name="arm_profile_acceleration"  value="$(arg arm_profile_acceleration)"/>
    <arg name="use_pid_cntlrs"            value="$(arg use_pid_cntlrs)"/>
    <arg name="use_gazebo"                value="$(arg use_gazebo)"/>
    <arg name="use_actual"                value="$(arg use_actual)"/>
    <arg name="use_fake"                  value="$(arg use_fake)"/>
    <arg name="dof"                       value="$(arg dof)"/>
  </include>

  <group if="$(arg use_cpp_interface)">

    <node
      name="moveit_interface_node"
      pkg="interbotix_moveit_interface"
      type="moveit_interface_node"
      respawn="false"
      output="screen"
      ns="$(arg robot_name)"/>

    <node if="$(arg moveit_interface_gui)"
      name="moveit_interface_gui"
      pkg="interbotix_moveit_interface"
      type="moveit_interface_gui"
      output="screen"
      ns="$(arg robot_name)"/>

  </group>

  <node if="$(arg use_python_interface)"
    name="moveit_python_interface"
    pkg="interbotix_moveit_interface"
    type="moveit_python_interface"
    respawn="false"
    output="screen"
    ns="$(arg robot_name)">
    <param name="robot_name" value="$(arg robot_name)"/>
    <param name="dof" value="$(arg dof)"/>
    <remap from="/attached_collision_object" to="/$(arg robot_name)/attached_collision_object"/>
    <remap from="/collision_object" to="/$(arg robot_name)/collision_object"/>
  </node>

</launch>
