<launch>

  <arg name="robot_name"                      default=""/>
  <arg name="use_default_rviz"                default="true"/>
  <arg name="threshold"                       default="0.75"/>
  <arg name="controller"                      default="ps4"/>
  <arg name="arm_run"                         default="true"/>

  <include if="$(arg arm_run)" file="$(find interbotix_sdk)/launch/arm_run.launch">
    <arg name="robot_name"                    value="$(arg robot_name)"/>
    <arg name="arm_operating_mode"            value="position"/>
    <arg name="arm_profile_velocity"          value="200"/>
    <arg name="arm_profile_acceleration"      value="100"/>
    <arg name="gripper_operating_mode"        value="pwm"/>
    <arg name="use_time_based_profile"        value="true"/>
    <arg name="use_default_rviz"              value="$(arg use_default_rviz)"/>
  </include>

  <node
    pkg="joy"
    type="joy_node"
    name="ps3_joy"
    output="screen"
    ns="$(arg robot_name)">
    <param name="dev"               value="/dev/input/js0" />
  </node>

  <node
    pkg="interbotix_joy_control"
    type="joy_control_node"
    name="joy_control_node"
    output="screen"
    ns="$(arg robot_name)">
    <param name="threshold" value="$(arg threshold)"/>
    <param name="controller" value="$(arg controller)"/>
  </node>

  <node
    pkg="interbotix_joy_control"
    type="joy_robot_control.py"
    name="joy_robot_control"
    output="screen"
    ns="$(arg robot_name)">
    <param name="robot_name" value="$(arg robot_name)"/>
  </node>

</launch>
