<launch>

  <arg name="robot_name"                    default=""/>
  <arg name="robot_model"                   default="$(arg robot_name)"/>
  <arg name="use_joint_pub"                 default="true"/>
  <arg name="jnt_pub_gui"                   default="true"/>
  <arg name="use_default_rviz"              default="true"/>
  <arg name="use_default_gripper_bar"       default="true"/>
  <arg name="use_default_gripper_fingers"   default="true"/>
  <arg name="use_external_gripper_urdf"     default="false"/>
  <arg name="external_gripper_urdf_loc"     default=""/>
  <arg name="load_gazebo_material"          default="false"/>
  <arg name="use_moveit"                    default="false"/>
  <arg name="rvizconfig"                    default="$(find interbotix_descriptions)/rviz/description.rviz" />
  <arg name="model"                         default="$(find interbotix_descriptions)/urdf/$(arg robot_model).urdf.xacro
                                                     robot_name:=$(arg robot_name)
                                                     default_gripper_bar:=$(arg use_default_gripper_bar)
                                                     default_gripper_fingers:=$(arg use_default_gripper_fingers)
                                                     external_gripper_urdf:=$(arg use_external_gripper_urdf)
                                                     external_gripper_urdf_loc:=$(arg external_gripper_urdf_loc)
                                                     gazebo:=$(arg load_gazebo_material)
                                                     moveit:=$(arg use_moveit)"/>

  <param name="$(arg robot_name)/robot_description"  command="$(find xacro)/xacro --inorder $(arg model)" />

  <node if="$(arg use_joint_pub)"
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher"
    ns="$(arg robot_name)">
    <param name="use_gui" value="$(arg jnt_pub_gui)"/>
  </node>

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher"
    ns="$(arg robot_name)">
  </node>

  <group if="$(arg use_default_rviz)">

    <node
      name="rviz"
      pkg="rviz"
      type="rviz"
      args="-d $(arg rvizconfig)"
      required="true"
      ns="$(arg robot_name)"/>

    <node
      name="robot_transform_broadcaster"
      pkg="tf2_ros"
      type="static_transform_publisher"
      args="0 0 0 0 0 0 /world /$(arg robot_name)/base_link"/>

  </group>

</launch>
